<div>
    <p><strong>Olá, Alexandre Rogério</strong></p>
    <p>Ag: 9999</p>
    <p>Co: 99999-9</p>
</div>
<div>
    <p>Saldo: R$<span id="get-account">{{ getAccount }}</span></p>
    <input type="text" #toWithdraw id="input-toWithDraw">
    <button (click)="setToWithdraw(toWithdraw.value)" id="toWithdraw">Sacar</button>
</div>
<div>
    <p>Carteira: R$<span id="get-wallet">{{ getWallet }}</span></p>
    <input type="text" #deposit id="input-deposit">
    <button (click)="setDeposit(deposit.value)" id="deposit">Depositar</button>
</div>