<p *ngIf="condition; else elseBlock">True - Condition</p>
<ng-template #elseBlock>
    <p>False - Condition</p>
</ng-template>

<hr>

<p *ngIf="conditionClick">True - Condition click</p>
<p *ngIf="!conditionClick">False - Condition click</p>

<button (click)="onClick()">Clique aqui</button>

<hr>

<ul>
    <li *ngFor="let champion of championList; let i = index;" (click)="onClickRemoveList(i)">[ {{ i }} ] - {{ champion.name }}</li>
</ul>

<button (click)="onClickAddList()">Adicionar</button>

<hr>

<br>
<input type="text" [(ngModel)]="name">
<br>

<div [ngSwitch]="name">
    <p *ngSwitchCase="'alexandre'">Alexandre</p>
    <p *ngSwitchCase="'rogerio'">Rogério</p>
    <p *ngSwitchDefault>Nome não encontrado</p>
</div>