<ng-content select="h1"></ng-content>

<p [ngClass]="{'active': value, 'disabled': !value}">ngClass</p>
<p [ngStyle]="{'height': heightPx, 'background': backgroundColor}">ngStyle</p>

<hr>

<input type="text" [(ngModel)]="name">
<button (click)="save()">Salvar</button>
<p>
    <span>Nome digitado: {{ name }}</span>
</p>

<ul>
    <li *ngFor="let item of list">{{ item.name | uppercase }}</li>
</ul>

<ng-template ngFor let-item [ngForOf]="list">
    <p>{{ item.name }}</p>
</ng-template>

<ng-content select="h3"></ng-content>
<ng-content select="hr"></ng-content>

<p>
    <span>Data atual: {{ date | date: 'dd/MM/yyyy' }}</span>
</p>